<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allergyout.member.model.dao.MemberMapper">

	<insert id="insertMember">
	    INSERT INTO MEMBER (
	        MEMBER_ID,
	        MEMBER_PWD,
	        MEMBER_NAME,
	        PHONE,
	        EMAIL
	    ) VALUES (
	        #{memberId},
	        #{memberPwd},
	        #{memberName},
	        #{phone},
	        #{email}
	    )
	</insert>

    <select id="findByMemberId" resultType="com.allergyout.member.model.vo.Member">
        SELECT
            MEMBER_NO,
            MEMBER_ID,
            MEMBER_PWD,
            MEMBER_NAME,
            PHONE,
            EMAIL,
            MEMBER_IMG,
            ROLE,
            CREATE_DATE,
            DEL_YN
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
          AND DEL_YN = 'N'
    </select>

	<select id="existsByMemberId" resultType="boolean">
	    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
	      FROM MEMBER
	     WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="existsByEmail" resultType="boolean">
	    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
	      FROM MEMBER
	     WHERE EMAIL = #{email}
	</select>
	
	<select id="existsByPhone" resultType="boolean">
	    SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
	      FROM MEMBER
	     WHERE PHONE = #{phone}
	</select>

</mapper>
